/* CSS declarations go here */
/*restringir pointer events*/
.overlay_canvas{
   pointer-events: none;
   z-index: 2;
   position: absolute;
}

.colombiaMap{
  position: absolute;
  top: 66px;
  left: 7px;
  z-index: 1;
}

.search{
  position: absolute;
  z-index: 3;
  width: 500px;
}

.stats{
  text-align: right;
}

.back_map{
  position: absolute;
  z-index: -1;
}

.tweetResults{
  top: 66px;
  float:right;
  width: 50%;
  height: 500px;
  overflow-y: auto;
}
h2.result{
  text-align: right;
  right: 500px;
}

.info{
  float:left;
  height: 48px;
}
.imagen_p{
  float: left;
}
.tweet{
  border-style: dashed;
  margin: 1px;
}
