/* CSS declarations go here */
/*restringir pointer events*/
.overlay_canvas{
   pointer-events: none;
   z-index: 2;
   position: absolute;
}

.colombiaMap{
  position: absolute;
  top: 66px;
  left: 7px;
  z-index: 1;
}

.search{
  position: absolute;
  z-index: 3;
  width: 500px;
}

.stats{
  text-align: right;
}
